                                        ### Базовый шаблон ###

html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
}

body {
    background-color: #DCDCDC;
}

#black-bar {
	background-color: black;
	color: white;
	padding: 20px 0;
}


.fixed-container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#telephone {
	float: right;
}

#logo {
    position: absolute;
    top: 5px;
}

#up-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #fd7e14;
    padding: 10px;
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius:50px;
    color: black;
    text-decoration: none;
}

#nav {
    float:right;
    padding-top: 18px;
    padding-bottom: 18px;
}

#nav li {
    display: inline-block;
    float: right;
    padding-left: 10px;
}

#nav a {
    text-decoration: none;
    color: #fd7e14;
    padding-right: 5px;
}

#header {
    background-color: white;
    height: 86px;
}


#header form input {
    margin-top: 7px;
    border-radius: 7px;
    border: 3px solid #fd7e14;
    width: 300px;
}

#footer {
	background-color: black;
	color: white;
	padding: 20px 0;
	position: absolute;
	width: 100%;
}

#footer-right {
	background-color: black;
	color: white;
	padding: 20px 0;
	width: 33%;
	float: left;
}

#footer-left {
	background-color: black;
	color: white;
	padding: 20px 0;
	width: 33%;
	float: left;
}

#footer-center {
	background-color: black;
	color: white;
	padding: 20px 0;
	width: 33%;
	float: left;
}

#up-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #fd7e14;
    padding: 10px;
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius:50px;
    color: black;
    text-decoration: none;
    z-index: 100;
}

.dropbtn {
  background-color: white;
  color: #fd7e14;
  padding: 0 5px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}
                                            ### Register ###
{;}

#reg-form {
    border: 4mm ridge rgba(253, 126, 20, .6);
    padding: 15px;
    margin: 50px 280px 200px 280px;
}

#reg-form h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #8B4513;
}

#reg-form input {
    float: right;
}

#reg-form button {
    background-color: #DEB887;
    border: 0;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

.hint {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #fd7e14;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0.1em 0.1em 0.1em #212121;
}

.logout {
    background-color: #8B4513;
    border-radius: 7px;
    width: 350px;
    height: 40px;
    margin: 0 305px 250px 305px;
    text-align: center;
}

.logout a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}


.heading {
    margin-top: 20px;
    text-align: center;
    color: #fd7e14;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0.1em 0.1em 0.1em #212121;
    margin-bottom: 15px;
}


.user-info {
     font-size: 20px;
     margin-bottom: 100px;
}


.user-info h5 {
     color: #8B4513;
     font-size: 30px;
}

.user-info strong {
     color: #fd7e14;
     font-size: 40px;
}

.link-order {
    background-color: #8B4513;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    padding: 10px;
}

.link-change-profile {
    background-color: #fd7e14;
    text-decoration: none;
    color: black;
    border-radius: 7px;
    padding: 10px;
}

.link-change-profile:hover {
    color:black;
}

.link-order:hover {
    color:white;
}