{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Категории
{% endblock %}

{% block content %}
<div class="fixed-container">
    <div class="heading">{{ name }}</div>
    <br>
    <div class="description">{{ description }}</div>
</div>
<div class="fixed-container mt-5">
    <div class="container">
        <div class="row">
            {% for el in data %}
            <div class="col-md-4">
                <div class="category">
                    <div class="image">
                        <a href="/product/{{ el.id }}"><img src="{% if el.image %}
                        {{ el.image.url }}
                        {% else %}
                        {% static 'main/img/not_img.jpg' %}
                        {% endif %}"></a>
                    </div>
                    <div class="info">
                        <h4>{{ el.name }}<br></h4><i>{{ el.price }} ₽ / 100 г</i>
                    </div>
                    <div class="go">
                        <a href="/product/{{ el.id }}" id="go">Перейти</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}