{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Главная страница
{% endblock %}

{% block content %}
<div class="fixed-container">
    <form action="{% url 'main:search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
    <div class="heading">
        Твой Орех
    </div>
    <div class="slogan">
        полезные и натуральные продукты по низким ценам
    </div>
    <div class="discription">
        <b>Наш магазин</b> - это находка для каждого любителя вкусных и полезных продуктов. Нам удалось собрать в одном
        месте все, что может Вас заинтересовать. Откажитесь от длительных поездок по магазинам своего города,
        ведь теперь, можно сделать заказ продукции в пару кликов.
    </div>
</div>

<div class="fixed-container mt-5">
    <div class="container">
        <div class="row">
            {% for c in categories %}
            <div class="col-md-4">
                <div class="category">
                    <div class="image">
                        <a href="/category/{{ c.id }}"><img src="{% if c.image %}
                       {{ c.image.url }}
                       {% else %}
                       {% static 'main/img/not_img.jpg' %}
                       {% endif %}"></a>
                    </div>
                    <div class="info">
                        <h3>{{ c.name }}</h3>
                    </div>
                    <div class="go">
                        <a href="category/{{ c.id }}" id="go">                        Перейти                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}