{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Продукты
{% endblock %}

{% block content %}
<div class="fixed-container">
    <div class="card mb-3" style="border: 0px; margin-top: 20px">
        <div class="row g-0">
            <div class="col-md-6" style="background-color: #DCDCDC">
                <div class="image_product">
                       <img src="{% if product.image %}
                       {{ product.image.url }}
                       {% else %}
                       {% static 'main/img/not_img.jpg' %}
                       {% endif %}">
                </div>
            </div>
            <div class="col-md-6" style="background-color: #DCDCDC">
                <div class="card-body" style="float: right">
                    <h1><b>{{ product.name }}</b></h1>
                    <ul class="rating" style="padding-left: 0">
                        <li><i class="bi bi-star-fill"></i></li>
                        <li><i class="bi bi-star-fill"></i></li>
                        <li><i class="bi bi-star-fill"></i></li>
                        <li><i class="bi bi-star-fill"></i></li>
                        <li><i class="bi bi-star-half"></i></li>
                    </ul>
                    <h3 ><i>{{ product.price }}</i> рублей за 100 г</h3><br>
                    <div style="margin-bottom: 15px">
                        <a href="#" id="reviews">Отзывы покупателей о товаре</a>
                    </div>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <button type="submit" class="basket"><i class="bi bi-cart-plus-fill"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="discription_product_card">
        <b>{{ product.name }}</b> <i>{{ product.discription }}</i>
    </div>
</div>
{% endblock %}