{% extends 'main/base.html' %}
{% block title %} Заказ {% endblock %}

{% block content %}
<div class="fixed-container">
    {% if not orders %}
    <div class="orders_no">
        Заказов еще не было.....
    </div><br>
        <div class="buy_now">
           <a href="{% url 'main:main' %}" >Начать покупки</a>
        </div>
    {% else %}
    <div class="heading">
        История заказов
    </div><br>
    <div class="order_info">
        <h3>Ваши заказы:</h3>
        <ul>
            {% for order in orders %}
            <li>
                <p>
                    <b>Номер заказа:</b> {{ order.id }} /
                    <b>Создан:</b> {{ order.created }}
                </p>
            </li>
                <a class="link_order_detail" href="{% url 'orders:my_orders_items' order.id %}">Детали заказа</a>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}