{% extends 'myauth/base.html' %}
{% block title %}
  Личный кабинет
{% endblock %}

{% block content %}
<div class="fixed-container">
  <div class="heading">
    Личный кабинет
  </div>
  <div class="user-info"><br>
  {% if user.is_authenticated %}
    <h5>Информация о <strong>{{ user.username }}</strong></h5>
    <p><b>Логин:</b> {{ user.username }}</p>
    <p><b>Имя:</b> {{ user.first_name }}</p>
    <p><b>Фамилия:</b> {{ user.last_name }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
    <p><b>Телефон:</b> {{ user.profile.mobile }}</p>
    <a class="link-order" href="{% url 'orders:my_orders' %}">История заказов</a>
    <a class="link-change-profile" href="{% url 'myauth:profile' %}">Изменить</a>
  </div>
  {% else %}
      <div class="user-info">
        <h2>Войдите в личный кабинет</h2>
      </div>
  {% endif %}
</div>
</div>

{% endblock %}


